<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="proxyUserDao" class="com.lin.springframework.bean.ProxyBeanFactory"/>

    <bean id="userService" class="com.lin.springframework.bean.UserService" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean class="com.lin.springframework.event.CustomEventListener"/>

    <bean class="com.lin.springframework.event.ContextRefreshedEventListener"/>

    <bean class="com.lin.springframework.event.ContextClosedEventListener"/>

</beans>